@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bar-chart-container{
  /* border: thin solid black; */
  height: 300px;
  width: 100%;
  
  padding: 0.2rem;
  /* border-radius: 5px; */
}

@media screen and (min-width:1069px){
  .bar-chart-container{
    max-width: clamp(500px, 38vw, 700px); 
  }
}

.subheading{
  margin-top: 2rem;
}

.logo:hover{
  cursor: pointer;
}

.dt-layout-row:first-of-type{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

input[type="search"]{
  border: 1px solid oklch(0.872 0.01 258.338);
  border-radius: 4px;
  margin: 0.1rem;
}

select[class="dt-input"]:hover{
  cursor:pointer;
}
.dt-layout-row:first-of-type .dt-layout-cell, .dt-layout-row:first-of-type .dt-layout-cell{
    width: 50%;
}

.dt-info{
  color: oklch(0.551 0.027 264.364);
}

.dt-paging-button{
  border: 1px solid oklch(0.872 0.01 258.338);
  border-radius: 2px;
  /* margin: 0.05rem; */
  width: fit-content;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.dt-paging-button:hover{
  background-color: #d5d5d555;
}


.datatable-container{
  /* margin-top: 2rem; */
}

.dataTable td{
  /* padding-blocks: calc(var(--spacing) * 4); */
  padding: 1rem;
}


.dataTable tbody tr {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  /* border-color: oklch(0.872 0.01 258.338); */
  border-color: var(--color-gray-200);
}

.dataTable tbody tr:last-of-type{
  border: unset;
}

.dataTable tbody tr:hover{
  background-color: var(--color-gray-50);
}

/* .dataTable tr:first-of-type{
    border: unset;
} */

.line-chart-container{
  margin-top: 1rem;
  width: 100%;
  /* height: 100%; */
  height: 250px;
}

.stats-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 3rem; */
  gap: 0.3rem;
  justify-content: center;
  margin-top: 2rem;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
